.button {
   margin-right: 10px;
   margin-left: 40px;
   padding: 5px;
   background-color: black;
   color: azure;
   border-radius: 5px;
   font-Size: 20px;
}

.button:hover, .button:focus {
   background-color: azure;
   color: black;
}

.input {
   width: 300px;
   padding: 5px;
   border-radius: 5px;
   border: 1px solid black;
   color: black;
   font-Size: 20px;
}

