
.conteiner {
   padding: 20px;
   margin-left: -30px;
   color: black;
   border-bottom: 1px solid black;
}

.list {
   margin-left: 30px;
   font-Size: 30px;
   text-decoration: none;
   color: black;
}

.carrentColor {
   color: blue;
}